@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
*{
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  margin: 0;
  font-family: "Quicksand";
  color: #333;
  /* scroll-behavior: smooth; */
}

.Nav-Item:hover
{
  color: #4e789f;
  border-bottom: #4e789f;
  border-style: solid;
  padding-bottom: 0.1em;
}

.HomePageCover
{
  background-image: url('./Components/Assets/bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

#About
{
  background-image: url(./Components/Assets/T8.png);
  background-repeat: no-repeat;
  background-size: cover;
}

/* #Skills
{
  background-image: url(./Components/Assets/T2.png);
  background-repeat: no-repeat;
  background-size: cover;
} */