@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
*{
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  margin: 0;
  font-family: "Quicksand";
  color: #333;
  /* scroll-behavior: smooth; */
}

.HomePageCover
{
  background-image: url('./Components/Assets/bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}